<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-block">
        <h4>Contact</h4>
        <div class="footer-cont">
          <div class="contact">
            <i class="material-icons">phone</i>   
            <a href="tel:04230403204234">+49 1525 9915 182</a>
          </div>
          <div class="contact">
            <i class="material-icons">email</i>   
            <a href="mailto:marcellokabora@gmail.com">marcellokabora@gmail.com</a>
          </div>
          <div class="contact">
            <i class="material-icons">location_on</i>   
            <a href="https://www.google.de/maps/place/Revaler+Str.+8,+10245+Berlin" target="_blank">Revaler Str. 8, 10245 Berlin</a>
          </div>
        </div>
      </div>
      <div class="footer-block">
        <h4>Message</h4>
        <div class="footer-cont">
          <form>
            <input placeholder="Email" value="">
            <textarea placeholder="Message"></textarea>
            <button>INVIO</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="privacy">
        Privacy - Copyright - Service
      </div>
      <div class="social">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-xing" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</footer>