<div class="main-lang">
      
      <div class="lang-cont container">
        <div></div>

        <div class="lang-bord">
          <div class="border border-100">
            <div class="circle">
              <span class="info">
                <div class="percent">100%</div>
                <div class="text">ITALIAN</div>
              </span>
            </div>
          </div>
        </div>

        <div class="lang-bord">
          <div class="border">
            <div class="circle">
              <span class="info">
                <div class="percent">90%</div>
                <div class="text">ENGLISH</div>
              </span>
            </div>
          </div>
        </div>
        
        <div class="lang-bord">
          <div class="border">
            <div class="circle">
              <span class="info">
                <div class="percent">70%</div>
                <div class="text">SPANISH</div>
              </span>
            </div>
          </div>
        </div>

        <div class="lang-bord">
          <div class="border border-20">
            <div class="circle">
              <span class="info">
                <div class="percent">20%</div>
                <div class="text">GERMAN</div>
              </span>
            </div>
          </div>
        </div>
        
        <div></div>
      </div>

  </div>
