.main-skil {
  text-align: center;
  padding-bottom: 80px;
}
.skil-cont{
  margin-top: 60px;
  position: relative;
}
.skil-rows{
  display: flex;
  align-items: center;
  position: relative;
}
.skil-tito{
  border-right: 1px solid silver;
  height: 150px;
  line-height: 150px;
  font-size: 18px;
  border-top: 1px solid silver;
  padding-right: 20px;
  padding-left: 20px;
  width: 120px;
}
.skil-rows .butt-righ{
  position: absolute;
  right: 0;
  line-height: 150px;
  font-size: 40px;
  cursor: pointer;
  color: #888888;
  border-left: 1px solid silver;;
}
.skil-cont .skil-info{
  height: 150px;
  flex: 4;
  margin-right: 40px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-y:hidden;
  border-top: 1px solid silver;
}
.skil-cont .skil-rows:nth-child(1) .skil-info{
  border-top: none;
}
.skil-cont .skil-rows:nth-child(1) .skil-tito{
  border-top: none;
}
.skil-item{
  font-weight: bold;
  padding: 20px;
  padding-top: 20px;
  a{
    color: black;
    text-decoration: none;
  }
}
.skil-item img{
  height: 80px;
}
.item-tito {
    margin-top: 0px;
    white-space: nowrap;
    text-transform: capitalize;
}
.item-tito .perc{
  color: gray;
}


@media(max-width: 1000px){
  .skil-rows {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }


  .skil-tito{
    border: none;
    height: auto;
    line-height: 50px;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
    margin-bottom: 20px;
  }
.butt-righ{
  display: none;
}
  .skil-cont .skil-info{
    height: auto;
    flex: auto;
    margin-right: 0px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid silver !important;
  }

}