
<div class="main-skil">
  <div class="main-cont">
    
    <div class="main-tito">
      <span class="tito">KNOWLEDGE</span>
      <span class="subo">My passion for the web allow me to use different codes for design something unique and special.</span>
    </div>
    
    <div class="skil-cont">

      <div class="skil-rows">
        <div class="skil-tito">
          <span>STYLE {{skill_style.length}}</span>
        </div>
        <i class="material-icons butt-righ">chevron_right</i>   
        <div class="skil-info">
          <div class="skil-item" *ngFor="let skill of skill_style">
            <img src="assets/skill/{{skill.name}}.png" alt="">
            <div class="item-tito">
              <span class="tito">{{skill.name}}</span>
              <span class="perc">{{skill.percent}}%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="skil-rows">
        <div class="skil-tito">
          <span>STYLE {{skill_style.length}}</span>
        </div>
        <i class="material-icons butt-righ">chevron_right</i>   
        <div class="skil-info">
          <div class="skil-item" *ngFor="let skill of skill_style">
            <img src="assets/skill/{{skill.name}}.png" alt="">
            <div class="item-tito">
              <span class="tito">{{skill.name}}</span>
              <span class="perc">{{skill.percent}}%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="skil-rows">
        <div class="skil-tito">
          <span>STYLE {{skill_style.length}}</span>
        </div>
        <i class="material-icons butt-righ">chevron_right</i>   
        <div class="skil-info">
          <div class="skil-item" *ngFor="let skill of skill_style">
            <img src="assets/skill/{{skill.name}}.png" alt="">
            <div class="item-tito">
              <span class="tito">{{skill.name | uppercase}}</span>
              <span class="perc">{{skill.percent}}%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="skil-rows">
        <div class="skil-tito">
          <span>STYLE {{skill_style.length}}</span>
        </div>
        <i class="material-icons butt-righ">chevron_right</i>   
        <div class="skil-info">
          <div class="skil-item" *ngFor="let skill of skill_style">
            <img src="assets/skill/{{skill.name}}.png" alt="">
            <div class="item-tito">
              <span class="tito">{{skill.name | uppercase}}</span>
              <span class="perc">{{skill.percent}}%</span>
            </div>
          </div>
        </div>
      </div>
      
  
    </div>
  </div>
</div>