.container{
    padding-top: 50px;
    padding-bottom: 50px;
  .brand{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dotted silver;
  }
  a{
    color: black;
    text-decoration: none;
  }
  .brandl{
    padding-right: 40px;
    text-align: right;
    width: auto;
  }
  .brandl img{
    width: 100%;
    max-width: 250px;
    border-bottom: 1px dotted silver;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

  .brandr{
    flex: 10;
  }

  .tipo{
    font-size: 22px;
  }
  .tito{
    font-size: 18px;
    text-transform: capitalize;
    div:first-child{
      font-weight: bold;
    }
    div:last-child{
      border-top: 1px dotted silver;
      border-bottom: 1px dotted silver;
      margin-top: 5px;
      padding-top: 5px;
      margin-bottom: 5px;
      padding-bottom: 5px;
      color: grey;
    }
  }
  .date{
    font-size: 14px;
    color: silver;
  }
}


@media (max-width: 800px) {

  .brand{
    flex-direction: column;
    text-align: justify;
    .brandl{
      margin-bottom: 40px;
      text-align: justify;
      img{
        width: 150px;
      }
    }
  }

}