/*  MENU  ---------------------------------------*/

.mat-toolbar {
  border-top: 10px solid black;
}
.main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  .menu-shap {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    background-color: black;
    width: 180px;
    .shap-arro {
      position: absolute;
      top: 0px;
      right: -100px;
      width: 0;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid black;
    }
    .shap-logo{
      width: 100px;
      position: relative;
      left: 50px;
      top: 23px;
      cursor: pointer;
    }
  }
  .menu-cont{
    margin-left: 260px;
    .butt-menu{
      opacity: .8;
    }
  }
  .menu-side{
    margin: 10px;
    display: none !important;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  @media (max-width: 1000px) {
    .menu-cont{
      display: none;
    }
    .menu-shap {
      position: relative;
      background-color: transparent;
      top: 0px;
      left: 0px;
      height: auto;
      width: auto;
      .shap-arro {
        display: none;
      }
      .shap-logo{
        width: auto;
        position: relative;
        left: auto;
        top: auto;
        height: 25px;
      }
    }
  }


}

