<md-toolbar class="main-menu">
  <button md-icon-button class="menu-side"><md-icon>menu</md-icon></button>
  <div class="menu-shap">
    <div class="shap-arro"></div>
    <img class="shap-logo" src="assets/logo_white.png">
  </div>
  <div class="menu-cont">
    <button md-button class="butt-menu">ABOUT</button>
    <button md-button class="butt-menu">LANGUAGE</button>
    <button md-button class="butt-menu">SKILLS</button>
    <button md-button class="butt-menu">PROJECT</button>
    <button md-button class="butt-menu">CONTACT</button>
  </div>
  <span class="example-spacer"></span>
  <button md-icon-button (click)="goLogin()" *ngIf="!imlogin">
    <md-icon>account_circle</md-icon>
  </button>
  <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="imlogin">
    <md-icon>account_circle</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      <md-icon>settings</md-icon>
      <span>User</span>
    </button>
    <button md-menu-item (click)="goLogout()">
      <md-icon>person</md-icon>
      <span>Logout</span>
    </button>
    <button md-menu-item (click)="goProduct()">
      <md-icon>whatshot</md-icon>
      <span>Product</span>
    </button>
  </md-menu>    
</md-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>