
<div class="main-work">
  <div class="main-tito">
    <span class="tito">WORKS</span>
    <span class="subo">Here a collection of all my best projects divided for category.</span>
  </div>

  <div class="butt-togg">
    <!--<span>Filter :</span>-->
    <md-button-toggle-group #group="mdButtonToggleGroup" >
      <md-button-toggle value="all" mdTooltip="All" mdTooltipPosition="below" checked="true">
        <md-icon>select_all</md-icon>
      </md-button-toggle>
      <md-button-toggle value="website" mdTooltip="Website" mdTooltipPosition="below">
        <md-icon>web</md-icon>
      </md-button-toggle>
      <md-button-toggle value="right">
        <md-icon>format_align_right</md-icon>
      </md-button-toggle>
      <md-button-toggle value="justify">
        <md-icon>format_align_justify</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
  
  <div class="work-cont container">
    
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOK AWAK AMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    <div class="work-item">
      <div class="work-item-cont">
        <div class="tito">WAKAMOKA</div>
        <div class="view">
          <i class="material-icons">zoom_in</i>
          <i class="material-icons">link</i>
        </div>
      </div>
    </div>
    
  </div>
</div>