.image{
    max-width: 100%;
    max-height: 80vh;
}
.radio-group{
    text-align: center;
    margin-top: -50px;
    z-index: 1;
    position: relative;
}

.mat-dialog-content {
    display: inherit;
}