.main-slide .mtab-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 600px;
  position: relative;
  overflow: hidden;
  .setting{
    position: absolute;
    color: white;
    right: 20px;
    top: 73px;
  }
}
.main-slide:hover .butt-left,
.main-slide:hover .butt-righ{
  opacity: 1;
}
.main-slide .butt-left, .main-slide .butt-righ{
  position: absolute;
  top: 250px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  height: 150px;
  width: 40px;
  line-height: 150px;
  margin-top: -50px;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity .3s;
}
.main-slide .butt-left{
  left: 0px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.main-slide .butt-righ{
  right: 0px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.main-slide .mtab-back{
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/slide/mk1.jpg') center / cover;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  padding-top: 20px;
  z-index: -1;
  filter: blur(2px) brightness(80%);
  cursor: pointer;
}
.main-slide .mtab-tito {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 60px;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  margin-top:20px;
  cursor: pointer;
}
.main-slide .mtab-sepa {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 120%;
  margin-left: -10%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.main-slide .mtab-subt{
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
  opacity: .8;
  cursor: pointer;
}
.main-slide .mtab-soci i {
  color: white;
  font-size: 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  opacity: .8;
  cursor: pointer;
  transition: opacity .5s;
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.main-slide .mtab-soci i:hover{
/*  opacity: 1;*/
}
.main-slide .radio-group {
  margin-top: -50px;
  height: 100px;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;
}

@media (max-width: 1000px) {
  .main-slide{
    zoom: .7 !important;
  }
}
