<div class="main-slide">
  <!--<i class="material-icons butt-left" (click)="goSLide(-1)">chevron_left</i>
  <i class="material-icons butt-righ" (click)="goSLide(+1)">chevron_right</i>-->
  <md-tab-group selectedIndex="{{slideback}}">
    <md-tab class="mtab">
      <div class="mtab-cont">
        <div class="mtab-back"></div>
        <div class="mtab-info">
          <div class="mtab-tito">Marcello Kabora</div>
          <div class="mtab-sepa"></div>
          <div class="mtab-subt">Frontend Developer</div>
          <div class="mtab-soci">
            <a href="https://www.facebook.com/marcellokabora" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/marcellokabora" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/marcellokabora" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.xing.com/profile/Marcello_Kabora" target="_blank"><i class="fa fa-xing" aria-hidden="true"></i></a>
            <a href="https://github.com/marcellokabora" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="skype:marcellokabora?add"><i class="fa fa-skype" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab class="mtab" *ngFor="let work of works | async">
      <div class="mtab-cont">
        <div class="mtab-back" [ngStyle]="{'background': 'silver url(' + baseurl + 'work%2F' + work.cover + '?alt=media) center / cover'}"></div>
        <div class="mtab-info">
          <div class="mtab-tito" routerLink="{{work.url}}">{{work.title}}</div>
          <div class="mtab-sepa"></div>
          <div class="mtab-subt" routerLink="{{work.url}}">{{work.subtitle}}</div>
          <button class="setting" md-icon-button *ngIf="login" (click)="goWork(work.$key)"><md-icon>settings</md-icon></button>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
  <div class="radio-group">
    <md-radio-group [(ngModel)]="slideback">
      <md-radio-button value="0" (click)="noInterval()"></md-radio-button>
      <md-radio-button *ngFor="let work of works | async; let i = index" value="{{i+1}}" (click)="noInterval()"></md-radio-button>
    </md-radio-group>
  </div>
</div>
