.bran-cont{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.bran-item{
  text-align: center;
  flex: 1;
  min-width: 300px;
}
.bran-item a{
  color: white;
  text-decoration: none;
}
.bran-item img{
  width: 250px;
}
.bran-item .tito{
  font-size: 25px;
}
.bran-item .subo{
  font-size: 18px;
  opacity: .8;
}
.bran-item .date{
  font-size: 14px;
  opacity: .6;
}

.radio-group{
    text-align: center;
    margin-top: 50px;
}
