<div class="main-bran">
  <div class="main-tito white">
    <span class="tito">COMPANY</span>
    <span class="subo">In the last 10 years of careers i worked for different company.</span>
  </div>
  <div class="bran-cont container">
    <div class="bran-item">
      <a href="https://www.smava.de/" target="_blank">
        <img src="assets/brand/smava.png" alt="">
        <div class="tito">Smava Das Online</div>
        <div class="subo">Frontend Developer</div>
        <div class="date">8 Months in 2016</div>
      </a>
    </div>
    <div class="bran-item">
      <a href="https://www.smava.de/" target="_blank">
        <img src="assets/brand/maggiolino.png" alt="">
        <div class="tito">Smava Das Online</div>
        <div class="subo">Frontend Developer</div>
        <div class="date">8 Months in 2016</div>
      </a>
    </div>
    <div class="bran-item">
      <a href="https://www.smava.de/" target="_blank">
        <img src="assets/brand/tanglang.png" alt="">
        <div class="tito">Smava Das Online</div>
        <div class="subo">Frontend Developer</div>
        <div class="date">8 Months in 2016</div>
      </a>
    </div>
  </div>
</div>
