<div class="main-abou">
  <div class="main-cont">
    <div class="list-grid">
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/app.png" alt=""></div>
          <h3>App Design</h3>
          <p>Web applications are popular due to the ubiquity of web browsers and the convenience of using a web browser as a client.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/web.png" alt=""></div>
          <h3>Web Design</h3>
          <p>Mobile application development is the set of processes and procedures involved in writing software for computing devices.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/uiux.png" alt=""></div>
          <h3>Ui/UX Design</h3>
          <p>A great product experience starts with UX followed by UI and both are essential for the result product’s success.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/logo.png" alt=""></div>
          <h3>Logo Design</h3>
          <p>Design your future, start with a logo and transform your company or personal stuff in better.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/develop.png" alt=""></div>
          <h3>Web Developer</h3>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet or an intranet.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/seo.png" alt=""></div>
          <h3>SEO Content</h3>
          <p>Search engine optimization is the process of affecting the visibility of a website or a web page in a search results.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/mail.png" alt=""></div>
          <h3>Mail Campaigns</h3>
          <p>The delivery of advertising material to recipients of postal mail forms a large and growing service for many postal services.</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-cont">
          <div><img src="assets/about/social.png" alt=""></div>
          <h3>Social Media</h3>
          <p>The delivery of advertising material to recipients of postal mail forms a large and growing service for many postal services.</p>
        </div>
      </div>
    </div>      
  </div>
</div>
