<div class="homepage">
    <app-slide></app-slide>
    <div class="main-tito">
        <span class="tito">ABOUT</span>
        <span class="subo">I am passionate about user interface and user experience.</span>
    </div>
    <app-about></app-about>
    <div class="cover1">
        <div class="main-tito white">
            <span class="tito">LANGUAGE</span>
            <span class="subo">I moved in different country working in different languages.</span>
        </div>
        <app-lang></app-lang>
    </div>
    <div class="main-tito">
        <span class="tito">SKILLS</span>
        <span class="subo">Here a list of all my knowledge divided for genre.</span>
    </div>
    <app-skill></app-skill>
    <div class="cover1">
        <div class="main-tito white">
            <span class="tito">COMPANY</span>
            <span class="subo">In the last 10 years of careers i worked for different company.</span>
        </div>
        <app-brand></app-brand>
    </div>
    <div class="main-tito">
        <span class="tito">WORKS</span>
        <span class="subo">Here a collection of all my best projects divided for category.</span>
    </div>
    <app-works></app-works>
</div>


<br><br><br><br><br>